.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 1000;
}

.skip-link:focus {
  top: 0;
}

* {
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
}

:root {
  --primary-color-grey: #1e1e1e;
  --primary-color-red: #8a0f0a;
  --background-color: rgba(30, 30, 30, 0.99);
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* navbar */
.navbar {
  padding: 8px 16px;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar .navbar-menu {
  display: flex;
  align-items: center;
}

.navbar .navbar-menu button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
  color: white;
  /* min-width: 44px;  */
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar .navbar-brand img {
  height: 15vw;
  max-height: 50px;
}

.navbar .navbar-navigation {
  position: absolute;
  top: -250px;
  right: 0px;
  width: 150px;
  /* transition: all 0.3s; */
  padding: 8px;
  background-color: var(--background-color);
  overflow: hidden;
}

.navbar .navbar-navigation.open {
  top: 72px;
}

.navbar .navbar-navigation li {
  list-style-type: none;
}

.navbar .navbar-navigation li a {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  color: white;
  padding: 15px;
  margin-bottom: 5px;
  width: 100%;
}

/* main */
main {
  flex: 1;
}

/* resto */
#resto-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.restos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

/* Welcome */
.welcome{
  padding: 0;
  width: 100%;
  height: 550px;
  position: relative;
}

.welcome .background img{
  position: absolute;
  z-index: -999;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) brightness(40%);
}

.welcome-message{
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 80%;
}

.welcome-message .logo{
  margin-top: 30px;
  max-width: 250px;
  width: 40%;
}

.welcome-message h1 {
  font-weight: 1000;
  color: var(--primary-color-red);
  text-stroke: 0.5px white;
  -webkit-text-stroke: 0.5px white;
  margin: 10px auto;
}

.welcome-message .caption{
  color: white;
  font-size: 15px;
  line-height: 20px;
  max-width: 800px;
  margin: 0 auto;
}

/* Resto Item */
.content{
  padding: 32px; 
}

.content .title{
  text-align: center;
}

/* resto item */
.resto-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.resto-item-header {
  position: relative;
}

.resto-item .resto-item-header .resto-item-header-image {
  width: 100%;
}

.resto-item .resto-item-header .resto-item-header-rating {
  position: absolute;
  padding: 8px;
  bottom: 4px;
  background-color: #8a0f0a;
  color: white;
  border-radius: 10px 10px 0 0;
}

.resto-item
  .resto-item-header
  .resto-item-header-rating
  .resto-item-header-rating-score {
  margin-left: 10px;
}

.resto-item .resto-item-content {
  padding: 16px;
}

.resto-item .resto-item-content h3 {
  margin: 0 0 10px 0;
}

.resto-item .resto-item-content h3 a {
  color: #8a0f0a;
  text-decoration: none;
  padding: 15px 0; 
  min-width: 44px;
}

.resto-item .resto-item-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*
  resto
*/

.resto {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.resto .resto-desc, .resto .resto-menu{
  margin-top: 12px;
} 

.resto .resto-image {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
  border-radius: 0 0 30px 30px;
}

.resto .resto-menu .food-drink{
  display: flex;
  margin-bottom: 10px;
}

.resto .resto-menu .food-drink .food, .resto .resto-menu .food-drink .drink{
  border: 1px solid rgba(62, 62, 62, 0.51); 
  padding: 10px; 
  border-radius: 10px; 
  margin: 8px;
  width: 50%;
}

.resto .resto-menu .food-drink .food h4, .resto .resto-menu .food-drink .drink h4{
  font-size: 20px;
}

.resto .resto-menu .food-drink .food p, .resto .resto-menu .food-drink .drink p{
  padding: 8px;
}

/* like button */
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  z-index: 999;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* Page-title */
.page-title {
  height: 100px;
  position: relative;
  top: 0;
}

.page-title img {
  position: absolute;
  z-index: -999;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) brightness(40%);
}

.page-title h1 {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 80%;
  font-size: 18px;
  font-weight: 1000;
  color: var(--primary-color-red);
  text-stroke: 1px white;
  -webkit-text-stroke: 1px white;
}

/* Footer */
footer {
  /* margin-top: 700px; */
  height: 100px;
  position: relative;
  bottom: 0;
}

footer img {
  position: absolute;
  z-index: -999;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) brightness(40%);
}

footer p {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 80%;
  color: white;
  font-size: 18px;
}

/* customer review */
.resto__name{
  font-weight: 1000;
  color: var(--primary-color-red);
  margin: 0 auto;
}

.resto-info{
  display: flex;
  gap: 10px;
  margin: 0 auto;
  background-color: var(--primary-color-grey);
  border-radius: 15px; 
  padding: 5px 15px;
  color: white;
}

.review .review-customer{
  border: 1px solid rgba(62, 62, 62, 0.51); 
  padding: 10px; 
  border-radius: 10px; 
  margin: 8px auto;
  width: 70%;
}

.resto-desc h3, .resto-menu h3, .review h3{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  background-color:#1e1e1e;
  border-radius: 50px;
  color: white;
}

.resto-desc p{
  padding: 0 10px; 
}